<div class="container">
    <div>
        <h1>{{'aboutMe.greeting' | translate}} ✌</h1>
    </div>
    <div>
        <h2>{{'aboutMe.presentation' | translate}}</h2>
    </div>
    <div>
        <div class="icono">
            <span><mat-icon>local_library</mat-icon></span>
        </div>
        <p>{{'aboutMe.now' | translate}}</p>
    </div>
    <div>
        <div class="icono">
            <span><mat-icon>assistant</mat-icon></span>
        </div>
        <p>{{'aboutMe.firstText' | translate}}</p>
    </div>
    <div>
        <div class="icono">
            <span><mat-icon>place</mat-icon></span>
        </div>
        <p>{{'aboutMe.home' | translate}}</p>
    </div>
    <div>
        <div class="icono">
            <span><mat-icon>mood</mat-icon></span>
        </div>
        <p>{{'aboutMe.interest' | translate}}</p>
    </div>
</div>