.container {
    padding: 2em;
}

.icono {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

mat-icon {
    color: var(--md-accent-300);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
}

span {
    text-align: center;
}