<div>
    <div class="title">
        <h3>{{'experience.introduction' | translate}}</h3>
    </div>
    <div class="sesver">
        <card>
            <div cardTitle>
                <h2>{{'experience.sesver.title' | translate}}</h2>
            </div>
            <div cardContent>
                <div class="contenido">
                    <h4><strong>{{'experience.sesver.work' | translate}}</strong></h4>
                    <div class="period">
                        <mat-icon>event_note</mat-icon>
                        <span>{{'experience.sesver.period' | translate}}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="activities">
                        <h4><strong>{{'experience.sesver.activities.title' | translate}}</strong></h4>
                        <div class="lista">
                            <div>
                                <ul>
                                    <li>{{'experience.sesver.activities.activitie1' | translate}}</li>
                                    <li>{{'experience.sesver.activities.activitie2' | translate}}</li>
                                    <li>{{'experience.sesver.activities.activitie3' | translate}}</li>
                                    <li>{{'experience.sesver.activities.activitie4' | translate}}</li>
                                </ul>
                            </div>
                            <div class="img">
                                <img class="imagen" src="../../../../../assets/images/sesver.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </card>
    </div>
    <div class="sefiplan">
        <card>
            <div cardTitle>
                <h2>{{'experience.sefiplan.title' | translate}}</h2>
            </div>
            <div cardContent>
                <div class="contenido">
                    <h4><strong>{{'experience.sefiplan.work' | translate}}</strong></h4>
                    <div class="period">
                        <mat-icon>event_note</mat-icon>
                        <span>{{'experience.sefiplan.period' | translate}}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="activities">
                        <h4><strong>{{'experience.sesver.activities.title' | translate}}</strong></h4>
                        <div class="lista">
                            <div>
                                <ul>
                                    <li>{{'experience.sefiplan.activities.activitie1' | translate}}</li>
                                    <li>{{'experience.sefiplan.activities.activitie2' | translate}}</li>
                                    <li>{{'experience.sefiplan.activities.activitie3' | translate}}</li>
                                </ul>
                            </div>
                            <div class="img">
                                <img class="imagen" src="../../../../../assets/images/sefiplan.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </card>
    </div>
</div>