h1,
p {
    text-align: center;
}

h2 {
    padding-top: 0.5em;
}

p {
    font-size: 1rem;
}

span {
    font-size: 1rem;
    vertical-align: middle;
}

mat-icon {
    vertical-align: middle;
    margin-right: 0.2em;
}


/*.mat-divider {
    margin-top: 1em;
}*/

.activities {
    margin-top: 1em;
}

.contenido {
    padding: 1em;
}

.period {
    margin-bottom: 0.5em;
}

.sesver {
    padding: 1em;
}

.sefiplan {
    padding: 1em;
}

ul {
    margin: 0.5em;
    font-size: 1rem;
}

@media screen and(max-width: 900px) {
    h2 {
        font-size: 1rem;
        text-align: center;
        margin-right: 1em;
    }
    .activities {
        text-align: justify;
    }
}