.activities {
    margin-top: 1em;
}

.contenido {
    padding: 1em;
}

h3,
p {
    text-align: center;
}

h2 {
    padding-top: 0.5em;
}

p {
    font-size: 1rem;
}

span {
    font-size: 1rem;
    vertical-align: middle;
}

mat-icon {
    vertical-align: middle;
    margin-right: 0.2em;
    color: var(--md-accent-300);
}

mat-divider {
    background-color: var(--md-accent-A900);
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em;
}

.imagen {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: solid 2px var(--md-accent-300);
    opacity: 0.9;
}

.period {
    margin-bottom: 0.5em;
}

.sesver {
    padding: 1em;
}

.sefiplan {
    padding: 1em;
}

ul {
    margin: 0.5em;
    font-size: 1rem;
}

@media screen and(max-width: 900px) {
    h2 {
        font-size: 1rem;
        text-align: center;
        margin-right: 1em;
    }
    .activities {
        text-align: justify;
    }
    .lista {
        flex-direction: column;
        justify-content: center;
    }
    .img {
        display: block;
        margin: auto;
        padding-top: 1em;
    }
    .imagen {
        width: 300px;
        height: 180px;
    }
}