<div class="title">
    <h1></h1>
    <p>{{'experience.introduction' | translate}}</p>
</div>
<div class="sesver">
    <card>
        <div cardTitle>
            <h2>{{'experience.sesver.title' | translate}}</h2>
        </div>
        <div cardContent>
            <div class="contenido">
                <h4><strong>{{'experience.sesver.work' | translate}}</strong></h4>
                <div class="period">
                    <mat-icon>event_note</mat-icon>
                    <span>{{'experience.sesver.period' | translate}}</span>
                </div>
                <mat-divider></mat-divider>
                <div class="activities">
                    <h4><strong>{{'experience.sesver.activities.title' | translate}}</strong></h4>
                    <ul>
                        <li>{{'experience.sesver.activities.activitie1' | translate}}</li>
                        <li>{{'experience.sesver.activities.activitie2' | translate}}</li>
                        <li>{{'experience.sesver.activities.activitie3' | translate}}</li>
                        <li>{{'experience.sesver.activities.activitie4' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </card>
</div>
<div class="sefiplan">

</div>