h1,
p {
    text-align: center;
}

h2 {
    padding-top: 0.5em;
}

p {
    font-size: 1rem;
}

span {
    font-size: 1rem;
    vertical-align: middle;
}

mat-icon {
    vertical-align: middle;
}

.contenido {
    padding: 1em;
}

.sesver {
    padding: 1em;
}

.sefiplan {
    padding: 1em;
}