<div class="contenido">
    <card>
        <div cardTitle>
            <h3>{{'experience.technologies.description' | translate}}</h3>
        </div>
        <div cardContent>
            <div class="contenidoCard">
                <div class="tech">
                    <div>
                        <img src="https://user-images.githubusercontent.com/25181517/117447535-f00a3a00-af3d-11eb-89bf-45aaf56dbaf1.png" alt="">
                        <img src="https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png" alt="">
                        <img src="https://user-images.githubusercontent.com/25181517/183577242-5081ea3b-7a3c-419b-9b81-014bf32e2e69.png" alt="">
                        <img src="https://user-images.githubusercontent.com/25181517/183890598-19a0ac2d-e88a-4005-a8df-1ee36782fde1.png" alt="">
                        <img src="https://user-images.githubusercontent.com/25181517/183890595-779a7e64-3f43-4634-bad2-eceef4e80268.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </card>
</div>