<div class="header">
    <div class="translate-button">
        <button mat-icon-button [matMenuTriggerFor]="translateMenu">
            <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #translateMenu="matMenu" xPosition="before" class="menu">
            <div *ngFor="let language of languageList">
                <button mat-menu-item (click)="changeLang(language.code)">
                    <img class="flag" src="{{language.flag}}" alt="">    
                    <span>
                        | {{language.label}}
                    </span>
                </button>
            </div>
        </mat-menu>
    </div>
    <div class="info-container">
        <img class="avatar-image" src="assets/images/avatar.jpg" alt="">
        <div class="info-text">
            <h2>{{'header.name' | translate}}</h2>
            <h3>{{'header.position' | translate}}</h3>
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/solisrmz/"><img src="assets/images/linkedin.png" alt="Linkedin Profile"></a>
            <a href="https://github.com/solisrmz"><img src="assets/images/github.png" alt="Github Profile"></a>
            <a href="https://www.instagram.com/solisrmz/"><img src="assets/images/instagram.png" alt="Instagram Profile"></a>
        </div>
    </div>
</div>
<div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                {{'sections.about' | translate}}
            </ng-template>
            <ng-template matTabContent>
                <about-me></about-me>
            </ng-template>
        </mat-tab>
        <mat-tab label="Experiencia profesional">
            <ng-template mat-tab-label>
                {{'sections.experience' | translate}}
            </ng-template>
            <ng-template matTabContent>
                <profesional-experience></profesional-experience>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tecnologías">
            <ng-template mat-tab-label>
                {{'sections.tech' | translate}}
            </ng-template>
            <ng-template matTabContent>
                <technologies></technologies>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>