<div class="header">
    <div class="translate-button">
        <button mat-icon-button [matMenuTriggerFor]="translateMenu">
            <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #translateMenu="matMenu" xPosition="before">
            <div *ngFor="let language of languageList">
                <button mat-menu-item (click)="changeLang(language.code)">{{language.label}}</button>
            </div>
        </mat-menu>
    </div>
    <div class="info-container">
        <img class="avatar-image" src="assets/images/avatar.png" alt="">
        <div class="info-text">
            <h2>{{'header.name' | translate}}</h2>
            <h3>{{'header.position' | translate}}</h3>
        </div>
    </div>
</div>
<div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                {{'sections.about' | translate}}
            </ng-template>
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
        <mat-tab label="Experiencia profesional">
            <ng-template mat-tab-label>
                {{'sections.experience' | translate}}
            </ng-template>
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tecnologías">
            <ng-template mat-tab-label>
                {{'sections.tech' | translate}}
            </ng-template>
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>