<div class="header">
    <div class="info-container">
        <img class="avatar-image" src="assets/images/avatar.png" alt="">
        <div class="info-text">
            <h2>Jose Abraham Solis Ramirez</h2>
            <h3>Angular Developer</h3>
        </div>
    </div>
</div>
<div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sobre mí">
            <ng-template matTabContent>
                Información personal
            </ng-template>
        </mat-tab>
        <mat-tab label="Experiencia profesional">
            <ng-template matTabContent>
                Información profesional
            </ng-template>
        </mat-tab>
        <mat-tab label="Tecnologías">
            <ng-template matTabContent>
                Tecnologías que domino
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>